asgiref
certifi
chardet
charset-normalizer
Django==5.0.1
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
pillow==10.2.0
psycopg2
PyJWT
pytz
reportlab
requests
sqlparse
tzdata
urllib3
